*.[oa]
*~
.project
.cproject
build-stamp
debian/files
debian/wpasupplicant-dbg.debhelper.log
debian/wpasupplicant-dbg.substvars
debian/wpasupplicant-dbg
debian/wpasupplicant.debhelper.log
debian/wpasupplicant.install
debian/wpasupplicant.substvars
debian/wpasupplicant
wpa_supplicant/.config
wpa_supplicant/wpa_cli
wpa_supplicant/wpa_passphrase
wpa_supplicant/wpa_supplicant
hostapd/.config
hostapd/hostapd
hostapd/hostapd_cli
src/drivers/build.wpa_supplicant
src/drivers/build.hostapd
