#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1


# These are used for cross-compiling and for saving the configure script
# from having to guess our platform (since we know it already)
DEB_HOST_GNU_TYPE   ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)

CFLAGS ?= -Wall -g
LDFLAGS ?=
PREFIX ?= /usr
DATADIR ?= /opt

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif

LDFLAGS += -Wl,--rpath=$(PREFIX)/lib -Wl,--as-needed
CONFIG := configurations/tizen.config
HOST_CONFIG := configurations/tizen_hostapd.config
#WPAGUI = wpa_gui-qt4

config.status: configure
	dh_testdir
	# Add here commands to configure the package.
	CFLAGS="$(CFLAGS)" LDFLAGS="$(LDFLAGS)" ./configure --prefix=$(PREFIX)

build: build-stamp
build-stamp:
	dh_testdir

	# wpa_supplicant
	cp -v $(CONFIG) wpa_supplicant/.config
	CFLAGS="$(CFLAGS)" LDFLAGS="$(LDFLAGS)" $(MAKE) -C wpa_supplicant all

	# hostapd
	$(MAKE) -C hostapd clean
	#cp -v $(HOST_CONFIG) hostapd/.config
	#	CFLAGS="$(CFLAGS)" LDFLAGS="$(LDFLAGS)" $(MAKE) -C hostapd all

	# wpa_gui
	#$(MAKE) -C wpa_supplicant $(WPAGUI)

	# manpages
	#$(MAKE) -C wpa_supplicant/doc/docbook man

	for f in `find $(CURDIR)/debian/ -name "*.in"`; do \
		cat $$f > $${f%.in}; \
		sed -i -e "s#@PREFIX@#$(PREFIX)#g" $${f%.in}; \
		sed -i -e "s#@DATADIR@#$(DATADIR)#g" $${f%.in}; \
	done

	touch $@

clean:
	dh_testdir
	dh_testroot

	$(MAKE) -C wpa_supplicant clean
	#$(MAKE) -C hostapd clean

	#if [ -f wpa_supplicant/$(WPAGUI)/Makefile ]; then \
	#	$(MAKE) -C wpa_supplicant/$(WPAGUI) distclean ; \
	#fi

	#$(MAKE) -C wpa_supplicant/doc/docbook clean

	#dh_clean wpa_supplicant/.config hostapd/.config build-stamp install-stamp
	dh_clean wpa_supplicant/.config build-stamp install-stamp

	for f in `find $(CURDIR)/debian/ -name "*.in"`; do \
		rm -f $${f%.in}; \
	done

	rm -f ../wpasupplicant_*.deb
	rm -f ../wpasupplicant-*.deb
	rm -f ../wpasupplicant_*.changes
	rm -f ../wpasupplicant_*.dsc
	rm -f ../wpasupplicant_*.tar.gz

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	dh_install

	# Add here commands to install the package into debian/ncurses.
	#$(MAKE) DESTDIR=$(CURDIR)/debian/tmp install

	# D-Bus
	install --mode=644 -D wpa_supplicant/dbus/dbus-wpa_supplicant.conf \
		debian/wpasupplicant/$(PREFIX)/etc/dbus-1/system.d/wpa_supplicant.conf
	install --mode=644 -D wpa_supplicant/dbus/fi.epitest.hostap.WPASupplicant.service \
		debian/wpasupplicant/$(PREFIX)/share/dbus-1/services/fi.epitest.hostap.WPASupplicant.service
	install --mode=644 -D wpa_supplicant/dbus/fi.w1.wpa_supplicant1.service \
		debian/wpasupplicant/$(PREFIX)/share/dbus-1/services/fi.w1.wpa_supplicant1.service
	install --mode=755 -D etc/rc.d/init.d/wpa_supplicant \
		debian/wpasupplicant/etc/rc.d/init.d/wpa_supplicant
	mkdir -p debian/wpasupplicant/etc/rc.d/rc3.d/
	ln -s ../init.d/wpa_supplicant debian/wpasupplicant/etc/rc.d/rc3.d/S62wpasupplicant
	mkdir -p debian/wpasupplicant/etc/rc.d/rc5.d/
	ln -s ../init.d/wpa_supplicant debian/wpasupplicant/etc/rc.d/rc5.d/S62wpasupplicant

	# sanitise the example configuration
	mkdir -p debian/wpasupplicant/$(PREFIX)/share/doc/wpasupplicant
	sed 's/^\([^#]\+=.*\|}\)/#\1/' < wpa_supplicant/wpa_supplicant.conf \
		> debian/wpasupplicant/$(PREFIX)/share/doc/wpasupplicant/README.wpa_supplicant.conf



# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
#	dh_installchangelogs
#	dh_installdocs
#	dh_installexamples
#	dh_install --sourcedir=debian/tmp
#	dh_installmenu
#	dh_installdebconf
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
#	dh_python
#	dh_installinit
#	dh_installcron
#	dh_installinfo
#	dh_installman
	dh_link
	dh_strip -a --dbg-package=wpasupplicant-dbg
	dh_compress
	dh_fixperms
#	dh_perl
	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
